.App {
  text-align: center;
}

div.card{
  margin: 10px;
  margin-bottom: 20px;
}

div.card-header{
  background-color: aliceblue;
  border-radius: 20px;
}

.member-image{
  width: 60px;
  border-radius: 50%;
}
